@tailwind base;
@tailwind components;
@tailwind utilities;

.Header{
    display: flex;
    width: 100%;
    height: 100px;
    background-color:antiquewhite;
}

.logo{
  display: flex;
  width: 50%;
}

.logo img{
   width:30%
}

.logo h1{
    color: crimson;
    font-style: italic;
    padding-left: 15px;
}

.Search{
    display: flex;
    width: 40%;
    
}

.Search-container{
    padding-top: 30px;
    align-items: center;
}

.wishlist{
   width: 5%;
   padding-top: 25px;
   padding-left: 40px;
   align-items: center;
}

.authenticate{
  width: 10%;
  padding-top: 30px;
  padding-left: 15px;
  align-items: center;
}

.container {
  background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-nature-background_23-2148934719.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
